<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Hexgraph - A platform for writing and sharing posts.">
    
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Read the latest post on Hexgraph.">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:site_name" content="Hexgraph">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Read the latest post on Hexgraph.">
    <meta name="twitter:site" content="@Hexgraph">
    <meta name="twitter:url" content="{{ request.url }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Hexgraph</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="post-content">
                <h2>{{ title }}</h2>
                <hr class="title-separator">
                <p class="post-date">{{ timestamp }}</p>
                <p class="post-views">{{ views }} views</p>
                <div class="content">{{ content | safe }}</div>
            </section>
            <a href="{{ url_for('index') }}" class="back-link">Back to Home</a>
        </div>
    </main>
</body>
</html>
